[Tt]emp/
[Oo]bj/
[Bb]uild
/Library/FailedAssetImports.txt
/Library/CrashedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/Library/ShaderCache
/Library/UnityAssemblies
sysinfo.txt
*.stackdump